.blurbg{
filter        : blur(4px);
-moz-filter   : blur(4px);
-webkit-filter: blur(4px);
-o-filter     : blur(4px);
background: url('mcca.jpg') no-repeat center center; 
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover; 
padding: 65px 0 300px 0; 
height: 100%;
position: fixed;
width: 100%;
float: left;
top: 0;
z-index: -1;
}

body {
/*background: url('black.jpg');*/
}

#divRss{
    color: white;
    text-align: left;
	font-family: 'Varela Round', sans-serif;
	font-size: 12px;


}

#divRss ul{
	list-style: none;

}

.itemTitle{
font-size:20px;
}

.itemDate{
float:right;
}

.itemContent{
float:left;
padding-top: 10px;
padding-bottom: 30px;
padding-left:0px;
padding-right:0px;
word-wrap: normal;
white-space:normal;
width:95%;
}

#features{
padding-top:0px;
    background: rgba(30, 41, 58, 0.45);
}

#team{
    background: rgba(30, 41, 58, 0.45);
}

.light-box p {
color:black;
}

.feedEkList{
display:inline;
}

img{
max-width: 95%;

}

.hero{
    background: rgba(30, 41, 58, 0.45);
}
