.blurbg{
filter        : blur(8px) sepia();
-moz-filter   : blur(8px) sepia();
-webkit-filter: blur(8px) sepia();
-o-filter     : blur(8px) sepia();
background: url('malacca.jpg') no-repeat center center; 
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover; 
padding: 65px 0 300px 0; 
height: 100%;
position: fixed;
width: 100%;
float: left;
top: 0;
z-index: -1;
}

body {
/*background: url('black.jpg');*/
}

#divRss{
    color: white;
    text-align: left;

	padding: 0 18% 90px 18%;

}

#divRss ul{
	list-style: none;
}

.itemTitle{
font-size:20px;
}

.itemDate{
float:right;
}

.itemContent{
float:left;
padding-top: 10px;
padding-bottom: 30px;
}

#features{
padding-top:0px;
}

.light-box p {
color:black;
}
